// src/components/Dropdown/Dropdown.scss
.dropdown {
    position: relative;
    display: inline-block;
  
    .dropdownButton {
      display: flex;
      align-items: center;
      padding: 8px 12px;
      color: #68c7f1;
      border: none;
      font-size: 16px;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.3s;
  
      svg {
        fill: #0ea5e9;
        margin-left: 8px;
        width: 16px;
        height: 16px;
      }
    }
  
    .dropdown-content {
      position: absolute;
      top: 100%;
      right: 0;
      margin-top: 8px;
      background-color: #bae6fd;
      border: 2px solid #7dd3fc;
      border-radius: 10px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
      min-width: 160px;
      z-index: 1;
      overflow: hidden;
  
      button {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #fff;
        border: none;
        color: #000;
        padding: 6px 10px;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.2s ease;
  
        &:hover {
          background-color: #bae6fd;

          &:not(:first-child) {
            border-top: 2px solid #7dd3fc;
      
          }
    
          &:not(:last-child) {
            border-bottom: 2px solid #7dd3fc;
          }
        }
      }
    }
  }
  